POSTGRES_USER=cardtrading
POSTGRES_PASSWORD=cardtrading
POSTGRES_DB=cardtrading
AUTH_ISSUER_URI=http://localhost:8082
AUTH_CORS_ALLOWED_ORIGINS=http://localhost:8083
AUTH_OWNER_BOOTSTRAP_TOKEN=
CORS_ALLOWED_ORIGINS=http://localhost:8083
AUTH_JWT_KEY_ID=cardtrading-auth-1
AUTH_JWT_PRIVATE_KEY=
AUTH_JWT_PUBLIC_KEY=
